.about-us {
    width: 100%;
    height: auto;
    background-color: rgb(255, 253, 238);
    display: flex;
    justify-content: center;
    align-self: center;
}

.about-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin: 0;
}

.about-container .box-wrap {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.about-container .box-wrap .about-wrap {
    width: 45%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-container  p {
    font-family: "Marcellus", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(14, 39, 80);
    text-align: center;
    margin: 0;
}

.about-container .about-title p {
    font-size: 4.5rem;
    margin-bottom: 2rem;
}

.about-container .box-wrap .about-wrap .info-box p {
    font-size: 1rem;
}

.about-container .box-wrap .about-wrap .about-sub-title p {
    font-size: 1.7rem;
}


@media screen and (min-width: 1000px) and (max-width: 1349px) {
    .about-container .box-wrap {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .about-container .box-wrap .about-wrap {
        width: 70rem;
        height: 16rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 2rem;
    }

    .about-container .box-wrap .about-wrap .info-container {
        width: 40%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-evenly;
    }    
}

@media screen and (min-width: 1350px){
    .about-container .box-wrap .about-wrap {
        height: 22rem;
    }
    
    .about-container .box-wrap .about-wrap .info-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }
}

@media screen and (min-width: 1650px) {
    .about-container .box-wrap .about-wrap {
        height: 20rem;
    }
}

@media screen and (min-width: 1920px) {

}
