.about-us {
    width: 100%;
    height: auto;
    background-color: rgb(255, 253, 238);
    display: flex;
    justify-content: center;
    align-self: center;
}

.about-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.about-container .box-wrap {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.about-container .box-wrap .about-wrap {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.about-container p {
    font-family: "Marcellus", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(14, 39, 80);
    margin: 0;
}

.about-container .about-title p {
    font-size: 4.5rem;
}

@media screen and (min-width: 100px) and (max-width: 768px) {
    .about-container {
        padding: 1rem;
    }

    .about-container .about-title p {
        font-size: 3rem;
        margin: 0;
        border-bottom: 2px solid rgb(14, 39, 80);
        margin-bottom: 2rem;
    }
    
    .about-container .box-wrap .about-wrap .about-sub-title p {
        font-size: 1.7rem;
        padding: 1rem;
        text-align: center;
    }
    
    .about-container .box-wrap .about-wrap .info-box p {
        font-size: 1rem;
        text-align: center;
    }

    .about-container .box-wrap .about-wrap {
        width: 100%;
        height: fit-content;
    }
    
    .about-container .box-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 1000px) {
    .about-container {
        padding: 4rem;
    }

    .about-container .box-wrap {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .about-container .box-wrap .about-wrap {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .about-container .box-wrap .about-wrap .info-container {
        width: 40%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-evenly;
    }

    .about-container .about-title p {
        font-size: 5rem;
    }

    .about-container .box-wrap .about-wrap .info-container .about-sub-title p {
        font-size: 2.8rem;
        padding: 1rem;
    }

    .about-container .box-wrap .about-wrap .info-container .info-box p {
        font-size: 1.6rem;
    } 
}
