.carousel-wrapper {
  position: relative;
  padding: 0 60px;
}

.carousel-container {
  width: 100%;
  max-width: 55rem;
  margin: 0 auto;
}

.carousel {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.carousel-slide img {
  margin-top: 2rem;
}

.carousel-image {
  position: relative;
  border-radius: 0.5rem;
  transition: transform 0.5s ease, width 0.5s ease;
  opacity: 0.5;
  z-index: -1;
}

.slick-center .carousel-image {
  transform: scale(1.2);
  align-self: center;
  opacity: 1;
  z-index: 0;
}

.slick-dots {
  bottom: -30px;
}

.slick-dots li button:before {
  font-size: 1rem;
  color: #ffd699;
  background-color: rgb(75, 53, 24);
  border-radius: 1rem;
  opacity: 1;
  transition: all 0.3s ease;
}

.slick-dots li.slick-active button:before {
  color: #ff9933;
  opacity: 1;
  transform: scale(1.4);
}

.slick-prev,
.slick-next {
  display: none !important;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  background-color: rgb(255, 251, 223);
  border: 2px solid rgb(172, 131, 102);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  box-shadow: 0 1px 3px rgba(255, 153, 51, 0.1);
}

.custom-arrow:hover {
  background-color: rgb(255, 247, 200);
  box-shadow: 0 4px 6px rgba(255, 153, 51, 0.2);
}

.custom-arrow svg {
  fill: rgb(109, 70, 42);
  transition: fill 0.3s ease;
}

.custom-prev-arrow {
  left: -50px;
}

.custom-next-arrow {
  right: -50px;
}

@media screen and (min-width: 100px) and (max-width: 768px) {  
  .carousel-wrapper {
    padding: 0 1rem;
  }

  .carousel {
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .slick-center .carousel-image {
    transform: scale(1.2);
  }

  .carousel-container {
    width: 100%;
    max-width: 20em;
  }

  .carousel-image {
    width: 14rem;
    height: 9rem;
  }
  
  .slick-track {
    height: 13rem;
  }  

  .custom-arrow {
    width: 15px;
    height: 15px;
  }

  .custom-arrow svg {
    width: 2rem;
    height: 2rem;
  }

  .custom-prev-arrow {
    left: -22px;
  }

  .custom-next-arrow {
    right: -22px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1549px) {
  .carousel-container {
    max-width: 66rem;
  }

  .carousel-image {
    width: 22rem;
    height: 12rem;
  }
  
  .slick-track {
    height: 16rem;
  }  
}

@media screen and (min-width: 1440px) {
  .slick-center .carousel-image {
    transform: scale(1.3);
  }

  .carousel-container {
    max-width: 72rem;
  }

  .carousel-image {
    width: 24rem;
    height: 13rem;
  }
  
  .slick-track {
    height: 17rem;
  } 

}

@media screen and (min-width: 1650px) {
  .slick-center .carousel-image {
    transform: scale(1.3);
  }

  .carousel-container {
    max-width: 76rem;
  }

  .carousel-image {
    width: 25rem;
    height: 13rem;
  }
  
  .slick-track {
    height: 17rem;
  }  
}

@media screen and (min-width: 1920px) {
  .slick-center .carousel-image {
    transform: scale(1.3);
  }

  .carousel-container {
    max-width: 84rem;
  }

  .carousel-image {
    width: 28rem;
    height: 14rem;
  }
  
  .slick-track {
    height: 19rem;
  }
}