/* src/Carousel.css */
.carousel-container {
  width: 80%;
  margin: 0 auto;
}


.carousel-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: auto;
}

.carousel-slide img {
  margin: auto;
}

.carousel-image {
  padding-top: 18px;
  width: 80%;
  height: 236px;
  transition: transform 0.5s ease, width 0.5s ease;
  opacity: 0.6;
}

.slick-track {
  height: 18rem;
}

.slick-center .carousel-image {
  width: 95%;
  transform: scale(1.2);
  opacity: 1;
  align-self: center;
}

.slick-prev,
.slick-next {
  z-index: 1;
  opacity: 0.7;
}

.slick-prev:hover,
.slick-next:hover {
  opacity: 1;
}
