.carousel {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.carousel-container {
  width: 55rem;
}

.carousel-slide img {
  margin-top: 2rem;
}

.carousel-image {
  position: relative;
  border-radius: 0.5rem;
  transition: transform 0.5s ease, width 0.5s ease;
  opacity: 0.5;
  z-index: -1;
}

.slick-center .carousel-image {
  transform: scale(1.2);
  align-self: center;
  opacity: 1;
  z-index: 0;
}

.slick-dots li button:before {
  display: block;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.slick-dots li.slick-active button:before {
  background-color: #ffffff;
  opacity: 100% !important;
  transform: scale(1.3);
}

.slick-prev:before {
  content: url("../assets/orange-left-circle.svg") !important;
  opacity: 1 !important;
}

.slick-next:before {
  content: url("../assets/orange-right-circle.svg") !important;
  opacity: 1 !important;
}


@media screen and (min-width: 100px) and (max-width: 768px) {  
  .carousel {
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .slick-center .carousel-image {
    transform: scale(1.2);
  }

  .carousel-container {
    width: 20em;
  }

  .carousel-image {
    width: 14rem;
    height: 9rem;
  }
  
  .slick-track {
    height: 13rem;
  }  
}

@media screen and (min-width: 1000px) and (max-width: 1549px) {
  .carousel-container {
    width: 66rem;
  }

  .carousel-image {
    width: 22rem;
    height: 12rem;
  }
  
  .slick-track {
    height: 16rem;
  }  
}

@media screen and (min-width: 1440px) {
  .slick-center .carousel-image {
    transform: scale(1.3);
  }

  .carousel-container {
    width: 72rem;
  }

  .carousel-image {
    width: 24rem;
    height: 13rem;
  }
  
  .slick-track {
    height: 17rem;
  }  
}

@media screen and (min-width: 1650px) {
  .slick-center .carousel-image {
    transform: scale(1.3);
  }

  .carousel-container {
    width: 76rem;
  }

  .carousel-image {
    width: 25rem;
    height: 13rem;
  }
  
  .slick-track {
    height: 17rem;
  }  
}

@media screen and (min-width: 1920px) {
  .slick-center .carousel-image {
    transform: scale(1.3);
  }

  .carousel-container {
    width: 84rem;
  }

  .carousel-image {
    width: 28rem;
    height: 14rem;
  }
  
  .slick-track {
    height: 18rem;
  }  
}
