.contact {
    width: 100%;
    background-color: rgb(251, 255, 245);
    display: flex;
}

.contact-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.contact-container p {
    font-family: "Marcellus", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(14, 39, 80);
    margin: 0;
}

.contact-container .contact-title p {
    margin: 0;
    border-bottom: 1px solid rgb(14, 39, 80);
}

.contact-container .contact-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.contact-container .contact-data .contact-data-wrap {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 1rem 0 1rem 0;
}

.contact-container .contact-data .contact-data-wrap .data-info {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 100px) and (max-width: 768px) {
    .contact-container {
        padding: 1rem;
    }

    .contact-container .contact-title p {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .contact-container .contact-data .contact-data-wrap .info-title {
        font-size: 1.7rem;
    }

    .contact-container .contact-data .contact-data-wrap .info {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 1000px) {
    
}
