.contact {
    width: 100%;
    background-color: #fbfff5;
}

.contact-container {
    height: 100%;
}

.contact-container .contact-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}

.contact-container p {
    color: #0e2750;
    margin: 0;
}

.contact-container .contact-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container .contact-title p {
    margin: 0;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: #0e2750;
    text-underline-offset: 2rem;
}

.contact-container .contact-data {
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.contact-container .contact-data .contact-data-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0 1rem 0;
}

.contact-container .contact-data .contact-data-wrap .data-info {
    display: flex;
    flex-direction: column;
}

.map {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

@media screen and (max-width: 768px) {
    .contact {
        padding: 2rem 0 2rem 0;
    }

    .contact-container .contact-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        
    .contact-container .contact-data {
        width: 100%;
        margin: 0 0 2rem 2rem;
    }

    .contact-container .contact-title p {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    .contact-container .contact-data .contact-data-wrap .info-title {
        font-size: 1.7rem;
    }

    .contact-container .contact-data .contact-data-wrap .info {
        font-size: 1.3rem;
    }
    
    .contact-container .contact-data .contact-data-wrap {
        padding: 1rem 0 1rem 0;
    }

    .phone-icon, .clock-icon, .map-icon {
        width: 2rem;
        height: 2rem;
    }

    .map-icon {
        width: 4rem;
        height: 4rem;
    }

    .icon {
        margin-right: 1rem;
    }
}

@media screen and (min-width: 1000px) {
    .contact {
        display: flex;
        justify-content: center;
        padding: 4rem 0 4rem 0
    }
    .contact-container {
        width: 90%;
    }

    .phone-icon, .clock-icon, .map-icon {
        width: 4rem;
        height: 4rem;
    }

    .contact-container .contact-data .contact-data-wrap .info-title {
        font-size: 2rem;
        font-weight: 600;
    }

    .contact-container .contact-data .contact-data-wrap .info {
        font-size: 2rem;
    }
    
    .contact-container .contact-data .contact-data-wrap {
        padding: 2rem 0 2rem 0;
    }

    .icon {
        margin-right: 2rem;
    }
    
    .map {
        width: 40%;
        height: fit-content;
    }

        
    .contact-container .contact-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 8rem 1rem 8rem;
    }
        
    .contact-container .contact-data {
        width: 50%;
    }

    .contact-container .contact-data .contact-data-wrap {
        justify-content: space-between;
    }
}

@media screen and (min-width: 1650px) {
    .contact-container .contact-title p {
        font-size: 5rem;
        margin-bottom: 4rem;
    }
}
