.footer {
    background-color: rgb(31, 22, 10);
}

.footer-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.footer-container .footer-wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.footer-container .footer-wrap p {
    color: rgb(255, 226, 188);
    margin: 0;
    font-weight: 300;
    font-size: 0.8rem;
}

