.map-container {
    margin-top: 1rem;
    margin-bottom: .5rem;
    border-radius: 1rem;
    overflow: hidden;
    border: 2px solid #ccc
}

.map button {
    background-color: #889e68;
    color: #fff;
    border-radius: .8rem;
    padding: .8rem 0 .8rem 0
}

@media screen and (max-width:768px) {
    .map {
        width: 100%;
        height: fit-content;
    }

    .map-container {
        height: 12rem
    }
    
    .map button {
        width: 95%;
    }
    
    .map-container {
        width: 95%;
    }
}

@media screen and (min-width:1000px) {
    .map-container {
        height: 20rem
    }
    
    .map button {
        margin-top: 1rem;
        width: 100%;
    }
    
    .map-container {
        width: 100%;
    }
}
