.welcome {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.welcome-container {
    width: 100%;
}

.welcome-container .welcome-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    animation: slideUpFadeIn 2s ease-out forwards;
    text-shadow: 8px 8px 6px rgb(0, 0, 0);
    font-family: "Marcellus", system-ui;
    color: rgb(255, 252, 222);
    text-align: center;
    margin-bottom: 4rem;
}

.welcome-container .welcome-title .welcome-sub-title p {
    font-size: 2rem;
    font-weight: 400;
    text-shadow: 4px 2px 3px rgb(0, 0, 0);
}

.welcome-container .welcome-title p {
    margin: 0;
}

.welcome-container .welcome-title p {
    font-size: 8rem;
}

.welcome-container .servicii {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.welcome-container .servicii .bubble-border {
    width: 12rem;
    height: 12rem;
    border: 3px solid rgb(255, 252, 222);
    border-radius: 100%;
    margin: 32px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 10px 8px #000000;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
}

.welcome-container .servicii .bubble-border p {
    font-size: 1.8rem;
    font-weight: 400;
    color: rgb(255, 253, 238);
    text-shadow: 4px 2px 3px rgb(0, 0, 0);
    text-align: center;
    z-index: 1;
}

@keyframes slideUpFadeIn {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (min-width: 100px) and (max-width: 768px) {
    .welcome {
        height: fit-content;
        background-size: 100% 100%;
    }

    .welcome-container .welcome-title {
        height: auto;
        margin: 0;
    }

    .welcome-container .welcome-title p {
        font-size: 2.8rem;
        padding: 1rem 0 0 0;
    }

    .welcome-container .welcome-title .welcome-sub-title p {
        font-size: 1.2rem;
        font-weight: 100;
        padding: 0 0.4rem 0 0.4rem;
        margin-bottom: 1rem;
    }

    .welcome-container .contact-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 0 0 0;
        margin-bottom: 1rem;
    }

    .welcome-container .contact-button button {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background-color: rgb(255, 254, 235);
        color: rgb(31, 22, 10);
        font-weight: 400;
        font-size: 1rem;
        border-radius: 2rem;
        font-family: "Marcellus", system-ui;
    }
}
